<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bela.es2017">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".firebase.db.searchActivity.ListaReceitasActivity" />
        <activity android:name=".firebase.db.searchActivity.ListaEstoqueActivity" />
        <activity
            android:name=".firebase.auth.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Estoque.Estoque"
            android:label="@string/title_activity_estoque"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Estoque.Add_Ing_Estoque.AddIngredientes" />
        <activity android:name=".Add_receita.Adicionar_receita"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".leitordebarras.LeitorDeBarras" />
        <activity android:name=".texttospeech.TTSActivity" />
        <activity android:name=".leitordebarras.BarrasEntradaPopup"
           />
        <activity
            android:name=".timer.TimerActivity"
            android:label="@string/title_activity_timer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".timer.Timer2Activity" />
        android:name="com.journeyapps.barcodescanner.CaptureActivity"
        android:screenOrientation="fullSensor"
        tools:replace="screenOrientation" />
        <activity android:name=".conversor.ConversorActivity" />
    </application>

</manifest>